html {
    background-color: #292929;
    color: #DDDDDD;
}

#dark-mode-btn {
    background-color: #DDDDDD;
}

#dark-mode-btn:hover {
    background-color: #fff;
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
    box-shadow: 0 0 5px #fff;
}

#vinci #quote {
    color: #fff;
}