html {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

section {
    margin: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h1 {
    text-align: center;
}

ul {
    overflow: auto;
    white-space: nowrap;
}

li {
    list-style: circle;
    padding: 10px;
}

.list-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-icon {
    max-width: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
}

.dark-mode-btn {
    position: fixed;
    top: 1vw;
    right: 1vw;
    padding: 10px;
    border-radius: 5px;
    background-color: #292929;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 5px #000;
    transition: 0.3s;
}

.dark-mode-btn:hover {
    background-color: #000;
}

#vinci {
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    transition: 0.3s;
}

#vinci #quote {
    display: none;
}

#vinci:hover {
    transform: scale(1.05);  
}

#vinci:hover #quote {
    display: block;
}

#vinci_image {
    float:right;
}