/* smooth scrolling */
* {
  -webkit-overflow-scrolling: touch;
}


@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position:relative;
}
/* .navbar {
  position: fixed;
  height: 100%;
  width: 150px;
  /* top: 0; */
  background-color: E9C46A;
  z-index: 10000;
  opacity: 1;
  display: flex;
} */

nav {
  margin: auto;
  width: 70%;
  text-align: center;
}

#wrapper {
  position: relative;
  /* margin-left: 150px; */
}

#mycontainer {
  /* margin-left: 50px; */
  padding-top: 60px;
}

.projectscontainer {
  margin:auto;
  width:80%
}

#about {
  height: 100%;
  background-color: F6F0ED;
  min-height: 500px;
  text-align: center;
}

#experience {
  height: 100%;
  background-color: F4A261;
  min-height: 400px;
  text-align: center;
}

#skills {
  height: 100%;
  background-color: 2a9d8f;
  min-height: 500px;
  text-align: center;
}

#projects {
  height: 100%;
  background-color: E76F51;
  min-height: 700px;
  text-align: center;
}

footer {
  padding-left: 50px;
  height: 30px;
  background-color: f6f0ed;
  text-align: center;
}

.element {
  display: inline;
}

#typedcontainer {
  height: 10px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

a:hover {
  color: rebeccapurple;
  font-weight: 600;
}

td {
  text-align: center;
}

.title {
  padding-top: 50px;
  padding-left: 50px;
}

.projectimg {
  width: 100px;
  /* margin-left: 50px; */
}

.profilepic {
  padding-top: 30px;
  max-height: 300px;
  border-radius: 50px;
}

p {
  font-size: 1.3em;

}

.experiencetext {
  padding-right: 50px;
  padding-left: 50px
}

.mytable {
  width:80%;
  margin:auto;
}


@media only screen and (max-width: 600px) {

  .experiencetext {
    padding-right: 0;
    margin:0 10px 0 10px;
  }
  body {
    background-color: #f6f0ed;
  }
  .navbar {
    opacity: 0;
    display: none;
  }
  #wrapper {
    margin-left: 0px;
  }

  #mycontainer{
    /* margin-left:40px; */
    margin-left:0;
    text-align: center;
  }

  .title {
    padding-left: 0px;
    text-align: center;;
  }

  #about, #experience, #skills {
    height:80%;
  }

  #projects{
    height:100%;
  }
  .mytable {
    margin: auto;
  }
  .profilepic {
    max-height:220px;
  }

  .projectimg {
    margin-left:0px;
    padding-top:20px;
  }
}


.parent{
  position:relative;
  height:100%;
}

.child {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width:100%;
}
