body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    min-height: 100vh;
}

.section-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .section-container {
        width: 100%;
    }
}
    