@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.main-container {
  min-height: 100vh;
}

.section-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .section-container {
    width: 100%;
  }
}

.markdown-body p {
  margin: 1rem 0rem;
}

.markdown-body p img {
  display: block;
  margin: auto;
  align-self: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  max-width: 300px;
  max-height: 300px;
}

.markdown-body p a {
  color: #0070f3;
  text-decoration: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 576px) {
  .twitter-timeline-container {
    display: none;
  }
}

hr {
  width: 100%;
  border: 1px solid black;
  margin: 40px 0px;
}
