@tailwind base;
@tailwind components;
@tailwind utilities;

/* shadcn */
@layer base {
  :root {
    --background: #f6f6f6;
  }

  .dark {
    --background: #131313;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background;
  }
}

/* Link */
.my-link {
  @apply hover:underline;
}

/* Framer Motion */
.framer-pill {
  display: flex;
  overflow-x: hidden;
  cursor: grab;
  padding: 20px 0;
  gap: 16px;
}
.framer-pill-item {
  flex: 0 0 auto;
  transition: transform 0.3s ease;
}

/* Animate in */
.animate-in {
  animation: animateIn 2s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
