@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
.radix-themes {
  --default-font-family: var(--font-varela-round);
}

/* Framer Motion */
.framer-pill {
  display: flex;
  overflow-x: hidden;
  cursor: grab;
  padding: 20px 0;
  gap: 16px;
}
.framer-pill-item {
  flex: 0 0 auto;
  transition: transform 0.3s ease;
}
